<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/main.html">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{'/css/bootstrap.min.css'}">

    <title>Title</title>
</head>
<body style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">
<div layout:fragment="mainContent">
    <div class="container mt-5 " style="margin-bottom: 130px">
        <div class="col-6 mx-auto mb-5">
            403 ACCESS FORBIDDEN
        </div>
    </div>
</div>
</div>
</body>
<script type="text/javascript" th:src="@{'/js/bootstrap.bundle.js'}"></script>
</html>
